body{
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.card{
    position: absolute;
    margin: auto;
    inset: 0;
    height:520px;
    width: 100%;
    max-width: 330px;
    background-color: rgb(255,255,255);
    box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 18px;
}

img{
    width: 100%;
    border-radius: 15px;
}

h2{
    color: #1f3251;

}

p{
    color: lightslategray;
}


